

.admin-pages
{
    width: 85%;
    float: right;
    /* background-color: blue; */
    text-align: start;
    margin-top: 3vh;
}

.add-heritier
{
    text-align: start;
}

.admin-pages .heritier
{
    margin-top: 5vh;
}