

.profil
{
    margin-top: 3vh;
}

.form-declaration
{
    margin-top: 5vh;
    text-align: center;
}

.form-declaration form label
{
    text-align: start;
}

.liste-declaration
{
    margin-top: 5vh;
    text-align: center;
}